numpy
pandas
scipy
TA-Lib
pandas-ta==0.3.14b1
xgboost
optuna
scikit-learn
joblib
lightgbm
matplotlib
seaborn
tqdm
yfinance
ccxt
numba
fastapi
uvicorn[standard]
pyzmq
pydantic
tensorflow
tensorflow-metal
